<div class="action-details">
    <h3 id="id6">3456 Movies</h3>
    <div class="row rowsetting2">
        <div class="col-md-2 offset-md-1">
          <figure class="figure">
            <img src="assets/image/pic2.png" class="figure-img img-fluid">
            <figcaption class="figure-caption text-end">
              <h3>FLASH</h3>
              <p>2017</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic25.png" class="figure-img img-fluid">
            <figcaption class="figure-caption text-end">
              <h3>FANTASTIC 4</h3>
              <p>2011</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic3.png" class="figure-img img-fluid">
            <figcaption class="figure-caption text-end">
              <h3>GUARDIANS</h3>
              <p>2000</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-md-2">
          

          <figure class="figure">
            <img src="assets/image/pic3.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>GARDIANS OF...</h3>
              <p>2018</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic6.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>MAN OF STEEL</h3>
              <p>2014</p>
            </figcaption>
          </figure>
          
        </div>
      </div>
      <br>
      <div class="row rowsetting2">
        <div class="col-md-2 offset-md-1">
          <figure class="figure">
            <a href="google.com"><img src="assets/image/pic2.png"  class="figure-img img-fluid "></a>
            <figcaption class="figure-caption text-end">
              <h3>THE WOLVERINE</h3>
              <p>2015</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic2.png" class="figure-img img-fluid " >
            <figcaption class="figure-caption text-end">
              <h3>ANT-MAN</h3>
              <p>2015</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic25.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>FANTASTIC 4</h3>
              <p>2011</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-md-2">
          

          <figure class="figure">
            <img src="assets/image/pic3.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>GARDIANS</h3>
              <p>2010</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic3.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>GARDIANS OF...</h3>
              <p>2018</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <br>
      <div class="row rowsetting2">
        <div class="col-md-2 offset-md-1">
          <figure class="figure">
            <img src="assets/image/pic2.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>THE WOLVERINE</h3>
              <p>2015</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic25.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>FANTASTIC 4</h3>
              <p>2011</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic3.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>GUARDIANS</h3>
              <p>2000</p>
            </figcaption>
          </figure>

        </div>
        <div class="col-md-2">
          

          <figure class="figure">
            <img src="assets/image/pic3.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>GARDIANS OF...</h3>
              <p>2018</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-2">
          <figure class="figure">
            <img src="assets/image/pic6.png" class="figure-img img-fluid ">
            <figcaption class="figure-caption text-end">
              <h3>MAN OF STEEL</h3>
              <p>2018</p>
            </figcaption>
          </figure>
          
        </div>
      </div>
      
</div>
