.action-details{
    width: 80.25%;
    height: 90vh;
    position: absolute;
    z-index: 1;
    top:62px;
    left: 303px;
    background-color: #1E2F55;
    overflow-x: hidden;
    padding-top: 16px;
}
#id6{
    color: white;
    margin-left:105px;
}
h3{
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
p{
    font-size: 14px;
    font-weight: 500;
    color: #41537E;
    position: relative;
    bottom: 18px;
}
.example-card{
    background-color: #1E2F55;
    border: none;
}