<div class="sidebar-menu">
  <h2 class="text-white movie">MOVIES</h2>
  <hr class="text">
  <a routerLink="action" class="action">Action</a>
  <a class="ad">Adventure</a>
  <a class="ad">Animation</a>
  <a class="ad">Family</a>
  <a class="ad">Comedy</a>
  <hr class="text">
  <h2 class="text-white movie">MOVIES</h2>
  <div class="seven">
    <a class="imdb">IMDB</a>
    <a class="nine">7.9</a>
  </div>
  <mat-progress-bar class="progress" mode="determinate" value="80"></mat-progress-bar>
 <br>
 <br>
  <div class="seven">
    <a class="imdb">TIMES OF INDIA</a>
    <a class="nine">4.5</a>
  </div>
  <mat-progress-bar class="progress" mode="determinate" value="35"></mat-progress-bar>
</div>

<router-outlet></router-outlet>